.users-page {
  overflow: auto;
}

.page-content .ant-card-body {
  padding: 0px;
}

.page-content-header {
  padding: 22px 20px;
  border-bottom: 1px solid #dedede;
  position: relative;
}

.page-content-header .createNewButton {
  margin-bottom: 0px !important;
  margin-top: -5px;
}

.user-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  text-transform: capitalize;
  color: #535353;
}

.user-info-container {
  padding-bottom: 5em;
}

.layout-width .ant-layout-content {
  width: auto !important;
}

.user-info {
  display: flex;
  justify-content: start;
  flex-direction: row;
}

.ant-space-align-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 2em;
}

.ant-form-horizontal .ant-form-item-control {
  margin: 0 auto;
  max-width: 480px;
}

.edit-job-save-item .ant-form-item-control-input-content {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .user-info-container {
    padding-bottom: 1em;
  }
}

@media screen and (max-width: 480px) {
  .user-info {
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .user-info-container {
    padding-bottom: 0em;
  }

  .ant-space-align-center {
    align-items: start !important;
    padding-left: 0em;
  }
}

.formStyle {
  margin-bottom: 0px !important;
}

.inputStyle[data-variation="primary"] {
  line-height: 3 !important;
}

.create-user-button {
  display: block;
  font-family: "Montserrat";
  border-radius: 25px;
  width: 100%;
  height: 45px !important;
  font-size: 20px !important;
  color: #ffffff !important;
  font-weight: 700 !important;
  background: #c54b30 !important;
  box-shadow: 0px 0px 10px rgba(108, 117, 131, 0.2),
    0px 10px 10px rgba(190, 0, 0, 0.1);
  /* background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%); */
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.cancel {
  color: #c54b30;
  font-weight: 700;
  font-size: 16px;
  margin-left: 10px;
}

.cancel-edit {
  color: #c54b30;
  font-weight: 700;
  font-size: 16px;
  margin-left: 15px;
}

.formSelectStyle {
  border: 0.5px solid lightgray !important;
  max-height: 100px;
}

.formSelectStyle>.ant-select-selector {
  height: 48px !important;
}

.createNewButton {
  color: #c54b30 !important;
  font-weight: 700 !important;
  float: right;
  font-family: Montserrat;
  font-style: normal !important;
  background: #ffffff !important;
  border: 1px solid #c54b30 !important;
  height: 42px !important;
  margin-bottom: 25px !important;
  padding: 4px 20px !important;
}

.usersTable table {
  font-size: 12px;
}

.ant-table-cell-fix-right,
.ant-table-cell-fix-right-first {
  padding: 0px !important;
  text-align: center !important;
  border-left: 1px solid #dedede;
}

.ant-table-cell-fix-right .ant-radio-wrapper {
  margin-right: 0px;
}

@media (max-width: 768px) {
  .createNewButton {
    margin-top: 10px;
    width: 50% !important;
  }

  .createNewUserBtn {
    margin-top: 10px;
    width: 100% !important;
  }
}

@media (max-width: 425px) {
  .createNewButton {
    margin-top: 10px;
    width: 100% !important;
    font-size: 13px !important;
    height: 35px !important;
  }

  .createNewUserBtn {
    margin-top: 10px;
    width: 100% !important;
    font-size: 13px !important;
  }

  .ant-form-item-control {
    margin-bottom: 20px !important;
  }

  .ant-input {
    margin-bottom: 20px !important;
  }
}

@media (max-width: 375px) {
  .createNewButton {
    margin-top: 10px;
    width: 100% !important;
    font-size: 12px !important;
    height: 35px !important;
  }
}

.user-list {
  justify-content: center;
  margin-top: 25px !important;
}