:root {
  --yellow: linear-gradient(180deg, #f8d49a -146.42%, #fad79d -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
  --pink: #ff919d;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}

.App {
  font-family: "Montserrat", sans-serif;
}

.AppGlass {
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background-color: white;
  overflow: hidden;
  grid-template-columns: 11rem auto;
}

.ant-layout {
  background: #fcfcfc;
  padding: 10px 15px 0px 0px;
  overflow: visible !important;
}

@media (max-width: 768px) {
    .ant-layout {
        padding: 0px;
    }
}

.ant-layout-sider {
  background: #fcfcfc !important;
}

.ant-result-info .ant-result-icon>.anticon {
  color: #c54b30 !important;
}

.ant-card {
  overflow:  hidden;
  border-radius: 20px !important;
}

.ant-menu {
  background-color: none !important;
  background: none !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: unset !important;
}

.ant-menu-item-selected {
  color: #dc4128 !important;
  font-weight: 700;
}

.ant-menu-inline .ant-menu-item::after {
  border-right: 0px !important;
}

.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover {
  color: #94a3ac !important;
}

.table-row-light {
  background-color: #f3f3f3 !important;
  cursor: pointer;
}

.table-row-light>td {
  background-color: #f3f3f3 !important;
  cursor: pointer;
}

.table-row-dark {
  background-color: #ffffff !important;
  cursor: pointer;
}


thead[class*="ant-table-thead"] th {
  background-color: #FFFFFF !important;
  font-weight: 700;
  color: #727272 !important;
}

/* .ant-table-cell-fix-left,
.ant-table-cell-fix-right {
  background-color: #f3f3f3 !important;
} */

.create-user {
  padding: 0px 50px;
  width: 60% !important;
}

.create-profile {
  padding: 0px 10px;
}

.ant-table-layout-fixed table {
  table-layout: auto;
}

.ant-page-header {
  padding: 0px !important;
  width: 100% !important;
  position: sticky;
  top: 0px;
}

.ant-typography {
}

.ant-card-head-wrapper {
  flex-direction: column;
}

.ant-card-extra {
  float: none;
  margin-left: unset;
  padding: 0;
  font-size: 14px;
}

.amplify-button[data-variation='primary'] {
  margin-top: 50px;
  margin-left: 95px !important;
  border-radius: 2rem;
  width: 60%;
  height: 50px;
  font-size: 20px;
  color: white;
  font-weight: 700;
  background: #C54B30;
  /* background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%); */
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

@media (max-width: 425px) {
  .amplify-button[data-variation='primary'] {
    margin-top: 50px;
    margin-left: 35px !important;
    width: 70%;
    font-weight: 600 !important;
  }
}

[data-amplify-router] {
  border-width: 0px !important;
  border-radius: 1rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1) !important;
}

[data-amplify-form] {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.amplify-input {
  line-height: 3rem;
  border-right: none;
  border-left: none;
  border-radius: 0px;
  border-color: #94A3AC;
}

.amplify-field__show-password {
  display: none !important;
}

[data-amplify-footer] {
  display: block;
}

.amplify-heading {
  padding-top: 30px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  color: #535353;
  font-weight: 900;
}

.amplify-button--primary {
  margin-left: 30px !important;
}

.amplify-button[data-variation='link'] {
  color: #C54B30;
  background-color: #ffffff;
}

fieldset {
  display: block !important;
}

.ant-progress-inner {
  border-radius: unset !important;
}

.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #535353 !important;
  border-width: 1px !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #535353 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #535353;
  padding: 0px 86% 0px 8px !important;
}