.risk-grid {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1),
    0px 4px 15px rgba(197, 75, 48, 0.2);
}

.risk-score-gridStyle {
  width: 25% !important;
  text-align: center;
  cursor: pointer;
}

.risk-number {
  font-style: normal;
  font-weight: 700;
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
  color: #535353;
}

.risk-info {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 2em 0em;
}

.risk-info-sub-1 {
  width: 25%;
}

.risk-info-sub-2 {
  width: 75%;
}

@media screen and (max-width: 1024px) {
  .risk-info-sub-2 {
    width: 70%;
  }

  .risk-info-sub-1 {
    width: 30%;
  }
}

.user-score {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  color: #535353;
  display:  inline-block;
}

.speed-score-average {
  width: 67%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between !important;
}

.speed-score-container {
  display: flex;
  margin: 20px 0px;
  padding: 5px 0px;
  border-bottom: 1px solid #b4b4b4;
  text-align: left;
}

.avgLine {
  margin-top: 25px
}

.chart .avgLine {
  margin-top: 5px !important;
}

.avgLine::after {
  content: "Avg";
  display: inline-block;
  padding: 4px 2px 0px;
  background-color: #ffffff;
  margin-left: -14px;
  font-size: 12px;
  font-weight: bold;
  color: #727272;
}

.graph {
  padding: 0px 20px 20px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: none !important;
}

.ant-progress-text {
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px;
  margin-left: 0px !important;
}

.average-line {
  border-right: 1.5px solid #727272;
  height: 70%;
  position: absolute;
  padding-left: 64%;
  z-index: 99;
  opacity: 0.75;
}

.risk-card {
  font-weight: 700 !important;
  font-size: 48px !important;
  text-transform: uppercase !important;
  color: #535353 !important;
}

@media (max-width: 768px) {
  .risk-score-gridStyle {
    width: 50% !important;
    text-align: center;
  }

  .user-score {
    font-size: 18px;
  }

  .innerCardValue {
    font-size: 25px !important;
  }

  .risk-card {
    font-size: 35px !important;
  }
}

@media (max-width: 480px) {
  .risk-card {
    font-size: 25px !important;
  }
}